<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoTrack"
        tools:targetApi="31">
        <activity
            android:name=".Employee.TaskAssignmentsActivity"
            android:exported="false" />
        <activity
            android:name=".Employee.CollectionTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.CostAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ComplianceOversightActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ExternalServicesActivity"
            android:exported="false" />
        <activity
            android:name=".ComplianceOversightActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.WasteManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.RecyclingReportsActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.SustainabilityMetricsActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.AISuggestionsActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.WasteAlertsActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.CollectionSchedulingActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.WasteMonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".Manager.Manager"
            android:exported="false" />
        <activity
            android:name=".Admin.SystemSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.ApprovalRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Admin"
            android:exported="false" />
        <activity
            android:name=".Employee.SafetyGuideActivity"
            android:exported="false" />
        <activity
            android:name=".Employee.WasteReportsActivity"
            android:exported="false" />

        <activity
            android:name=".Employee.PickupRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".Employee.BinStatusActivity"
            android:exported="false" />
        <activity
            android:name=".Employee.WasteLoggingActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.AdminSignup"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".Manager.ManagerDashboard"
            android:exported="false" />
        <activity
            android:name=".WasteManagement.WasteManagementDashboard"
            android:exported="false" />
        <activity
            android:name=".StaffWorkers.StaffWorkersDashboard"
            android:exported="false" />
        <activity
            android:name=".Authentication.Login"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Employee.EmployeeDashboard"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>